ipv4: '{{ wireguard_rest.server_ipv4 }}'
ipv6: '{{ wireguard_rest.server_ipv6 }}'
config_file: '{{ wireguard_rest.app.config_file }}'
secret_key_file: '{{ wireguard_rest.app.secret_key_file }}'
wg_reload_cmd: '{{ wireguard_rest.app.wg_reload_cmd }}'
